<div class="margin-info">
    <h2>Information</h2>
    <h3>るくほんとは</h3>
    <p>るくほんは、ユーザー参加型本検索サービスです。検索したい本がない場合は登録が可能です。</p>
    <p>不明点がある場合は、本サイトの管理者（以下アドレス）までご連絡ください</p>
    <p>ridely.j.conan　gmail.com</p>
    <p>※gmail.comの前に@をいれてください</p>
<div>    
