<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <div class="main_form ">
 <h1>ほんをさがそう！</h1>
 </div>
<div class="main_form ">
 <%= form_tag('/books/index', method: :get) do %>
        <%= text_field_tag :book, "",  class: "search_container", name: "isbn", placeholder: "isbnを打ち込んでください"%>
        <%= submit_tag 'Search', :name => nil %>
<% end %>
</div>
 <div class="main_form ">
<%= link_to '本が見つからない場合は登録', books_new_path %>
</div>
