<table class = "table table-striped">
        <!-- talbeヘッダー部 -->
        <h2>キーワードに合致する書籍がありません</h2>
        <thead class ="thead-light">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
            </tr>
            </thead>
                <tr>
                <td></td>
                <td></td>
                </tr>
</table>