        <table class = "table table-striped">
            <!-- talbeヘッダー部 -->
            <thead class ="thead-light">
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>本の著者</th>
                </tr>
            </thead>
            <!-- talbeのbody部 -->
            <tbody>
                <%  @book.each do |book| %>
                    <tr>
                    <td><%= book.isbn %></td> 
                    <td><%= book.title %></td> 
                    <td><%= book.author_id %></td> 
                </tr>
                <% end %>
     </table> 