<h3>Book List </h3>
    <table class = "table table-striped">
        <!-- talbeヘッダー部 -->
        <thead class ="thead-light">
            <tr>
                <th>ID</th>
            </tr>
            </thead>
            <%  @list.item.each do |book| %>
                <tr>
                <td><%= book.volume_info.title %></td> 
                </tr>
            <% end %>
    </table>