<table class = "table table-striped">
        <!-- talbeヘッダー部 -->
        <thead class ="thead-light">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
            </tr>
            </thead>
            <%  @book.each do |book| %>
                <tr>
                <td><%= book.title %></td>
                <td><%= book.isbn %></td> 
                </tr>
            <% end %>
</table>