// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li {
    list-style: none;
    margin-top: 10px;
    label {
    margin-right: 10px;
    width:100px;
    float: left;
}
}

ul {
    width: 500px;
    margin: 0 auto;
    li.msg {
    margin-bottom: 40px;
    }
}

.register {
    display: block;
    margin: 0 auto;
}

table{
    width: 100%;
    table-layout: fixed;    
  }

table th{
    padding : 20px 10px;
    width: 30%;
    border:solid 1px #aaaaaa;
    color:white;
    background-color: #f44336;
  }
  
  table td{
    border:solid 1px #aaaaaa;
    padding : 20px 10px;
    width: 70%;
  }