<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
        <div class="row h-wrap">
            <div class="h-wrap01">
                <a href="https://shielded-mountain-73603.herokuapp.com/">
                <!-- img src="/img/header/logo.jpg" alt="BOOK情報 ほんほん" -->
                <%= image_tag 'header_logo.png' %>
                </a>
                <a><%= link_to 'TOP',  root_path %></a>
                <a><%= link_to 'INFO', static_pages_info_path %></a>
                <a><%= link_to 'HELP', static_pages_help_path %></a>
            </div>
            <nav id="gnav_pc" class="hidden-xs">
                <div class="container">
                    <div class="row">
                        <ul class="gnav_pc">
                        <!-- 
                            <li class="js-dropdown">
                                <a>本</a>
                            </li>    
                            <li class="js-dropdown">
                                <a>コミュニティ</a>
                            </li>    
                            <li class="js-dropdown">
                                <a>コラム</a>
                            </li>    -->
                        </ul>
                    </div>
                </div>    
            </nav>
        </div><!--./row h-wrap -->    
  </div>
</header>